
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'glacial_indifferenceregular';
    font-size: medium;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
  }

  /* On mouse-over, add a deeper shadow */
  .card:hover {
    background-color: #DCD5D0;
  }

  .card-title{
    font-family: 'glacial_indifferenceregular';
    font-size: 20px;
  }

  .card-img-top {
      align-self: center;
  }

  .band {
      width: 90%;
      max-width: 1240px;
      margin: 0 auto;
        
      display: grid;
        
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-gap: 20px;
  }

  @media only screen and (min-width: 500px) {
      .band{
          grid-template-columns: 1fr 1fr;
      }
  }

  @media only screen and (min-width: 850px) {
      .band {
          grid-template-columns: 1fr 1fr;
      }
  }